@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    width: 50%;
    background-color: white;
    display: flex;
    border-radius: 20px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 50%;
}

.text {
    border-bottom: 1px solid grey;
    font-size: 12px !important;
}

.question {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 2%;
}

bottom {
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}